*.h5
*.hdf5
src/output_weights/
jeremie/output_weights/

jeremie/chexnet_pretrained/*
!jeremie/chexnet_pretrained/ChexNet.ipynb
!jeremie/chexnet_pretrained/util.py
!jeremie/chexnet_pretrained/ViT.ipynb